body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1, nav {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #22ff11;
}
section figcaption {
  text-align: center;
  font-size: small;
}
section#featured-property p {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
section#details {
  display: block;
}
section#details div {
  float: left;
  background-color: #ff2222;
  text-align: center;
  width: 25%;
}
